flows_mcp.json
[
    {
        "id": "163e312f.f48fdf",
        "type": "tab",
        "label": "Lebensraum",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e1ebf45b.e10b2",
        "type": "tab",
        "label": "Oles Zimmer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9bb78743.299da8",
        "type": "subflow",
        "name": "fetchClientIds",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "66acdba4.780214"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1140,
                "y": 60,
                "wires": [
                    {
                        "id": "785750e5.ec05f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "8083c109.02921",
        "type": "subflow",
        "name": "fetchCurrentVolume",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 30,
                "wires": [
                    {
                        "id": "cb0bd135.bc2e6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 890,
                "y": 80,
                "wires": [
                    {
                        "id": "aa0781e1.9cc7d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e33515d4.3f53d8",
        "type": "subflow",
        "name": "changeVolume",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "16ea182a.3d42d8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 120,
                "wires": [
                    {
                        "id": "5cb362b6.d7019c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "994d7b2f.27ec2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f02afc5d.26a6",
        "type": "mqtt-broker",
        "name": "MCP",
        "broker": "mcp",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "29f40ad2.011fbe",
        "type": "mpd-server",
        "host": "mcp",
        "port": "6600"
    },
    {
        "id": "1a3f0517.2cb563",
        "type": "mqtt in",
        "z": "163e312f.f48fdf",
        "name": "",
        "topic": "zigbee2mqtt/dreher",
        "qos": "2",
        "datatype": "auto",
        "broker": "f02afc5d.26a6",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "2f2c2b93.e35f74"
            ]
        ]
    },
    {
        "id": "2f2c2b93.e35f74",
        "type": "json",
        "z": "163e312f.f48fdf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "4a9c16bf.423518"
            ]
        ]
    },
    {
        "id": "4a9c16bf.423518",
        "type": "switch",
        "z": "163e312f.f48fdf",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "rotate_left",
                "vt": "str",
                "v2": "rotate_right",
                "v2t": "str"
            },
            {
                "t": "eq",
                "v": "play_pause",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "skip_forward",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "skip_backward",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 290,
        "y": 420,
        "wires": [
            [
                "d0e5cce7.98e76"
            ],
            [
                "b28ffc9.b9052"
            ],
            [
                "36694f5c.2dbc4"
            ],
            [
                "152fc1fa.952dfe"
            ]
        ]
    },
    {
        "id": "cb0bd135.bc2e6",
        "type": "function",
        "z": "8083c109.02921",
        "name": "prepareGetClientConfigRequest",
        "func": "msg.action = msg.payload.action;\n\nvar clientIdDreher = global.get(\"dreherActiveId\");\n\nvar json = '{\"id\":8,\"jsonrpc\":\"2.0\",\"method\":\"Client.GetStatus\",\"params\":{\"id\":\"'+clientIdDreher+'\"}}'\n\nmsg.payload = JSON.parse(json);\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 80,
        "wires": [
            [
                "fd66fa82.1a54d8"
            ]
        ]
    },
    {
        "id": "fd66fa82.1a54d8",
        "type": "http request",
        "z": "8083c109.02921",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://mcp:1780/jsonrpc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 80,
        "wires": [
            [
                "aa0781e1.9cc7d"
            ]
        ]
    },
    {
        "id": "66acdba4.780214",
        "type": "function",
        "z": "9bb78743.299da8",
        "name": "prepareSnapcastStatusRequest",
        "func": "\nvar json = '{\"id\":1,\"jsonrpc\":\"2.0\",\"method\":\"Server.GetStatus\"}'\n\nmsg.payload = JSON.parse(json);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "10ec1214.7b0bfe"
            ]
        ]
    },
    {
        "id": "10ec1214.7b0bfe",
        "type": "http request",
        "z": "9bb78743.299da8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://mcp:1780/jsonrpc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "785750e5.ec05f",
                "1029b4f4.dca2bb"
            ]
        ]
    },
    {
        "id": "152fc1fa.952dfe",
        "type": "subflow:9bb78743.299da8",
        "z": "163e312f.f48fdf",
        "name": "",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "b26efeea.ef263"
            ]
        ]
    },
    {
        "id": "785750e5.ec05f",
        "type": "function",
        "z": "9bb78743.299da8",
        "name": "getClientIdForMaster",
        "func": "var masterName = global.get(\"dreherMaster\")\n\nvar clientsInGroup = \n    msg.payload.result.server.groups\n    .filter(group => findClientsInGroupWithMasterName(group, masterName))[0]\n    .clients.filter(client => client.connected)\n    .map(c => c.id)\n\n msg.payload = clientsInGroup;\n \n return msg;\n \n function findClientsInGroupWithMasterName(group, masterName){\n     return group.clients\n       .filter(client => client.host.name === masterName).length>0\n     \n }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 120,
        "wires": [
            [
                "1029b4f4.dca2bb"
            ]
        ]
    },
    {
        "id": "6dd85471.2310fc",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dreherActiveId",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1029b4f4.dca2bb",
        "type": "debug",
        "z": "9bb78743.299da8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "ba12af24.7d9c2",
        "type": "inject",
        "z": "163e312f.f48fdf",
        "name": "on Startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "917859d1.cfead8"
            ]
        ]
    },
    {
        "id": "917859d1.cfead8",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "Dreher = Musiktruhe",
        "rules": [
            {
                "t": "set",
                "p": "dreherMaster",
                "pt": "global",
                "to": "musiktruhe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b26efeea.ef263",
        "type": "function",
        "z": "163e312f.f48fdf",
        "name": "switchToNextClientInGroup",
        "func": "\nvar activeId = global.get(\"dreherActiveId\")|| msg.payload[0];\n\nmsg.activeId = activeId\n\nvar indexOfActiveId = msg.payload.indexOf(activeId);\n\nmsg.indexOfActiveId = indexOfActiveId\n\nvar nextIndex = ++indexOfActiveId;\n\nif(nextIndex >= msg.payload.length){\n    nextIndex = 0;\n}\n\nmsg.payload = msg.payload[nextIndex]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 540,
        "wires": [
            [
                "6dd85471.2310fc"
            ]
        ]
    },
    {
        "id": "d0e5cce7.98e76",
        "type": "subflow:8083c109.02921",
        "z": "163e312f.f48fdf",
        "name": "fetchCurrentVolume",
        "env": [],
        "x": 500,
        "y": 340,
        "wires": [
            [
                "946f1435.36f488"
            ]
        ]
    },
    {
        "id": "aa0781e1.9cc7d",
        "type": "change",
        "z": "8083c109.02921",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "msg",
                "to": "payload.result.client.config.volume.percent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "16ea182a.3d42d8",
        "type": "function",
        "z": "e33515d4.3f53d8",
        "name": "prepareGetClientConfigRequest",
        "func": "\n\nvar clientIdDreher = global.get(\"dreherActiveId\");\n\nvar newVolume;\n\nif (msg.action == \"rotate_right\" ) {\n    newVolume = msg.volume < 96 ? msg.volume+3 : 100;\n} else{\n        \n    newVolume = msg.volume > 4 ? msg.volume-3 : 0;\n}\n    \n\nvar json = '{\"id\":\"8\",\"jsonrpc\":\"2.0\",\"method\":\"Client.SetVolume\",\"params\":{\"id\":\"'+clientIdDreher+'\",\"volume\":{\"muted\":false,\"percent\":'+newVolume+'}}}'\n\nmsg.payload = JSON.parse(json);\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "1140a3ca.2e690c"
            ]
        ]
    },
    {
        "id": "1140a3ca.2e690c",
        "type": "http request",
        "z": "e33515d4.3f53d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://mcp:1780/jsonrpc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 483,
        "y": 196,
        "wires": [
            [
                "5cb362b6.d7019c"
            ]
        ]
    },
    {
        "id": "5cb362b6.d7019c",
        "type": "change",
        "z": "e33515d4.3f53d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "volume",
                "pt": "msg",
                "to": "payload.result.client.config.volume.percent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 693,
        "y": 196,
        "wires": [
            []
        ]
    },
    {
        "id": "946f1435.36f488",
        "type": "subflow:e33515d4.3f53d8",
        "z": "163e312f.f48fdf",
        "name": "",
        "x": 720,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4500d5ac.ed588c",
        "type": "comment",
        "z": "163e312f.f48fdf",
        "name": "Lautstärkeregler",
        "info": "",
        "x": 100,
        "y": 200,
        "wires": []
    },
    {
        "id": "dfb6904.1d00af",
        "type": "comment",
        "z": "163e312f.f48fdf",
        "name": "Espressobar",
        "info": "",
        "x": 90,
        "y": 620,
        "wires": []
    },
    {
        "id": "e12d7328.db145",
        "type": "mqtt in",
        "z": "163e312f.f48fdf",
        "name": "coScha",
        "topic": "zigbee2mqtt/coScha",
        "qos": "2",
        "datatype": "auto",
        "broker": "f02afc5d.26a6",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "d2f3e1fe.fe229"
            ]
        ]
    },
    {
        "id": "d2f3e1fe.fe229",
        "type": "json",
        "z": "163e312f.f48fdf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 120,
        "y": 1000,
        "wires": [
            [
                "e94b19d1.7777f8"
            ]
        ]
    },
    {
        "id": "50ec9803.99c0b8",
        "type": "json",
        "z": "163e312f.f48fdf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 960,
        "y": 900,
        "wires": [
            [
                "cd1a37f.9eb8ec8"
            ]
        ]
    },
    {
        "id": "ef54e2ff.6eb148",
        "type": "mqtt out",
        "z": "163e312f.f48fdf",
        "name": "mrCoffee",
        "topic": "zigbee2mqtt/mrCoffee/set",
        "qos": "",
        "retain": "",
        "broker": "f02afc5d.26a6",
        "x": 940,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e94b19d1.7777f8",
        "type": "switch",
        "z": "163e312f.f48fdf",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_move_up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_move_down",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 290,
        "y": 1000,
        "wires": [
            [
                "39a8ac00.76c3ec",
                "f19b00a2.4fd4e"
            ],
            [
                "6507ce09.37df38",
                "a74e1e73.d2355"
            ],
            [
                "8c378b13.69dc98"
            ],
            [
                "6507ce09.37df38"
            ]
        ]
    },
    {
        "id": "a365f4e1.a0ec88",
        "type": "json",
        "z": "163e312f.f48fdf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 1080,
        "wires": [
            [
                "ef54e2ff.6eb148"
            ]
        ]
    },
    {
        "id": "cd1a37f.9eb8ec8",
        "type": "mqtt out",
        "z": "163e312f.f48fdf",
        "name": "coffeeLight",
        "topic": "zigbee2mqtt/coffeeLight/set",
        "qos": "",
        "retain": "",
        "broker": "f02afc5d.26a6",
        "x": 980,
        "y": 940,
        "wires": []
    },
    {
        "id": "8c378b13.69dc98",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload.state",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "a365f4e1.a0ec88"
            ]
        ]
    },
    {
        "id": "6507ce09.37df38",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload.state",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1120,
        "wires": [
            [
                "a365f4e1.a0ec88"
            ]
        ]
    },
    {
        "id": "fe604360.43f67",
        "type": "mpd out",
        "z": "163e312f.f48fdf",
        "name": "",
        "topic": "",
        "server": "29f40ad2.011fbe",
        "x": 700,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "36694f5c.2dbc4",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "Pause",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pause",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 460,
        "wires": [
            [
                "fe604360.43f67"
            ]
        ]
    },
    {
        "id": "b28ffc9.b9052",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "Weiter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "next",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "fe604360.43f67"
            ]
        ]
    },
    {
        "id": "f19b00a2.4fd4e",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload.state",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.brightness",
                "pt": "msg",
                "to": "254",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "coffeeLight",
                "pt": "flow",
                "to": "254",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 900,
        "wires": [
            [
                "50ec9803.99c0b8"
            ]
        ]
    },
    {
        "id": "a74e1e73.d2355",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload.state",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "coffeeLight",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 940,
        "wires": [
            [
                "50ec9803.99c0b8"
            ]
        ]
    },
    {
        "id": "39a8ac00.76c3ec",
        "type": "switch",
        "z": "163e312f.f48fdf",
        "name": "Coffee or light",
        "property": "coffeeLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 1000,
        "wires": [
            [
                "8c378b13.69dc98"
            ]
        ]
    },
    {
        "id": "4d177f2d.40da5",
        "type": "inject",
        "z": "163e312f.f48fdf",
        "name": "on Startup",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"state\":\"\"}",
        "payloadType": "json",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "cabdea5d.eb9be",
                "5d451161.2ff88"
            ]
        ]
    },
    {
        "id": "cabdea5d.eb9be",
        "type": "mqtt out",
        "z": "163e312f.f48fdf",
        "name": "trigger mr Coffee",
        "topic": "zigbee2mqtt/mrCoffee/get",
        "qos": "",
        "retain": "",
        "broker": "f02afc5d.26a6",
        "x": 310,
        "y": 700,
        "wires": []
    },
    {
        "id": "2c2e60c5.eb0718",
        "type": "mqtt in",
        "z": "163e312f.f48fdf",
        "name": "mrCoffee",
        "topic": "zigbee2mqtt/mrCoffee",
        "qos": "2",
        "datatype": "auto",
        "broker": "f02afc5d.26a6",
        "x": 80,
        "y": 760,
        "wires": [
            [
                "4f65d200.6e944"
            ]
        ]
    },
    {
        "id": "f440780d.e22758",
        "type": "switch",
        "z": "163e312f.f48fdf",
        "name": "onChange",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "mrCoffee",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 800,
        "wires": [
            [
                "308e6de.2a4f712"
            ]
        ]
    },
    {
        "id": "308e6de.2a4f712",
        "type": "switch",
        "z": "163e312f.f48fdf",
        "name": "ON / OFF",
        "property": "payload.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 800,
        "wires": [
            [
                "f8ec7d99.40e63"
            ],
            [
                "46f79321.6d06cc",
                "4b2c116b.9da218"
            ]
        ]
    },
    {
        "id": "f7e52a82.8d6d6",
        "type": "mqtt out",
        "z": "163e312f.f48fdf",
        "name": "drahtviehBunt",
        "topic": "zigbee2mqtt/drahtviehBunt/set",
        "qos": "",
        "retain": "",
        "broker": "f02afc5d.26a6",
        "x": 1080,
        "y": 760,
        "wires": []
    },
    {
        "id": "bc2cf44b.b290c",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "rot",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"color\":{\"rgb\":\"255,0,0\"}, \"brightness\": \"25\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 760,
        "wires": [
            [
                "f70a7ae0.651f1"
            ]
        ]
    },
    {
        "id": "7f9cd681.805ea",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"OFF\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 800,
        "wires": [
            [
                "f70a7ae0.651f1"
            ]
        ]
    },
    {
        "id": "5d451161.2ff88",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mrCoffee",
                "pt": "flow",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "4f65d200.6e944",
        "type": "json",
        "z": "163e312f.f48fdf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 70,
        "y": 800,
        "wires": [
            [
                "f440780d.e22758"
            ]
        ]
    },
    {
        "id": "d2f153b5.6ce838",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "grün",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"color\":{\"rgb\":\"50,205,50\"}, \"brightness\": \"254\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 700,
        "wires": [
            [
                "f70a7ae0.651f1"
            ]
        ]
    },
    {
        "id": "eb11c910.f6478",
        "type": "mqtt in",
        "z": "e1ebf45b.e10b2",
        "name": "",
        "topic": "zigbee2mqtt/gesha1",
        "qos": "2",
        "datatype": "auto",
        "broker": "f02afc5d.26a6",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "46054ea0.16ced"
            ]
        ]
    },
    {
        "id": "46054ea0.16ced",
        "type": "json",
        "z": "e1ebf45b.e10b2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "beb4bc79.b587d8"
            ]
        ]
    },
    {
        "id": "e169dc8a.0731d",
        "type": "mqtt out",
        "z": "e1ebf45b.e10b2",
        "name": "Set Oles Deckenlampe",
        "topic": "zigbee2mqtt/oleDeckenlicht/set",
        "qos": "",
        "retain": "",
        "broker": "f02afc5d.26a6",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "49d4ba62.a6b32c",
        "type": "json",
        "z": "e1ebf45b.e10b2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 900,
        "y": 120,
        "wires": [
            [
                "e169dc8a.0731d"
            ]
        ]
    },
    {
        "id": "3eb0cf7a.551d58",
        "type": "comment",
        "z": "e1ebf45b.e10b2",
        "name": "oles Licht",
        "info": "",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "beb4bc79.b587d8",
        "type": "switch",
        "z": "e1ebf45b.e10b2",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_move_up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "brightness_move_down",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "3d4a9dc5.64827a"
            ],
            [
                "bed68e93.9ea6d8"
            ],
            [
                "432bc1dd.c72f"
            ],
            [
                "7db09227.38d054"
            ]
        ]
    },
    {
        "id": "3d4a9dc5.64827a",
        "type": "change",
        "z": "e1ebf45b.e10b2",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload.state",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 120,
        "wires": [
            [
                "49d4ba62.a6b32c"
            ]
        ]
    },
    {
        "id": "bed68e93.9ea6d8",
        "type": "change",
        "z": "e1ebf45b.e10b2",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload.state",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "49d4ba62.a6b32c"
            ]
        ]
    },
    {
        "id": "432bc1dd.c72f",
        "type": "link out",
        "z": "e1ebf45b.e10b2",
        "name": "coffee on",
        "links": [
            "83ad4f4d.ddb798"
        ],
        "x": 695,
        "y": 220,
        "wires": []
    },
    {
        "id": "83ad4f4d.ddb798",
        "type": "link in",
        "z": "163e312f.f48fdf",
        "name": "coffee on",
        "links": [
            "432bc1dd.c72f"
        ],
        "x": 575,
        "y": 1140,
        "wires": [
            [
                "8c378b13.69dc98"
            ]
        ]
    },
    {
        "id": "28fecd9a.603242",
        "type": "link in",
        "z": "163e312f.f48fdf",
        "name": "coffee off",
        "links": [
            "7db09227.38d054"
        ],
        "x": 575,
        "y": 1180,
        "wires": [
            [
                "6507ce09.37df38"
            ]
        ]
    },
    {
        "id": "7db09227.38d054",
        "type": "link out",
        "z": "e1ebf45b.e10b2",
        "name": "coffee off",
        "links": [
            "28fecd9a.603242"
        ],
        "x": 695,
        "y": 260,
        "wires": []
    },
    {
        "id": "f70a7ae0.651f1",
        "type": "json",
        "z": "163e312f.f48fdf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1050,
        "y": 720,
        "wires": [
            [
                "f7e52a82.8d6d6"
            ]
        ]
    },
    {
        "id": "c2f0a687.88c29",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "mrCoffee",
                "pt": "flow",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 700,
        "wires": [
            [
                "d2f153b5.6ce838"
            ]
        ]
    },
    {
        "id": "f8ec7d99.40e63",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "HEATING",
        "rules": [
            {
                "t": "set",
                "p": "mrCoffee",
                "pt": "flow",
                "to": "HEATING",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 760,
        "wires": [
            [
                "bc2cf44b.b290c",
                "b6440eba.a71e3",
                "8a6aaccf.daf26"
            ]
        ]
    },
    {
        "id": "46f79321.6d06cc",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "mrCoffee",
                "pt": "flow",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 800,
        "wires": [
            [
                "7f9cd681.805ea"
            ]
        ]
    },
    {
        "id": "b6440eba.a71e3",
        "type": "delay",
        "z": "163e312f.f48fdf",
        "name": "Heating",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 520,
        "y": 700,
        "wires": [
            [
                "d8ffdea2.3737e"
            ]
        ]
    },
    {
        "id": "6620f9d2.f3db6",
        "type": "comment",
        "z": "163e312f.f48fdf",
        "name": "mrCoffee state",
        "info": "",
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "d8ffdea2.3737e",
        "type": "switch",
        "z": "163e312f.f48fdf",
        "name": "if still on",
        "property": "mrCoffee",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "HEATING",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 660,
        "y": 700,
        "wires": [
            [
                "c2f0a687.88c29",
                "f19b00a2.4fd4e"
            ]
        ]
    },
    {
        "id": "8a6aaccf.daf26",
        "type": "change",
        "z": "163e312f.f48fdf",
        "name": "heating",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"ON\",\"brightness\":\"25\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 860,
        "wires": [
            [
                "58aef847.62fb68"
            ]
        ]
    },
    {
        "id": "58aef847.62fb68",
        "type": "switch",
        "z": "163e312f.f48fdf",
        "name": "skip if on",
        "property": "coffeeLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "payload.brightness",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 860,
        "wires": [
            [
                "50ec9803.99c0b8"
            ]
        ]
    },
    {
        "id": "4b2c116b.9da218",
        "type": "switch",
        "z": "163e312f.f48fdf",
        "name": "if heating light",
        "property": "coffeeLight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "254",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 900,
        "wires": [
            [
                "a74e1e73.d2355"
            ]
        ]
    }
]